@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.login {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .title {
    text-align: center;
  }
  .button {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem;
  }
  .footer {
    p {
      margin: 0;
    }
  }
  .hide-navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: px($navigation-height-px + 50);
    background: white;
    z-index: 201;
  }
}
