@font-face {
  font-family: 'icomoon';
  src: url('./icomoon.eot?f4kkfp');
  src: url('./icomoon.eot?f4kkfp#iefix') format('embedded-opentype'),
    url('./icomoon.ttf?f4kkfp') format('truetype'),
    url('./icomoon.woff?f4kkfp') format('woff'),
    url('./icomoon.svg?f4kkfp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-account-Large:before {
  content: '\e900';
}
.icon-account:before {
  content: '\e901';
}
.icon-arrow-left:before {
  content: '\e902';
}
.icon-arrow-right:before {
  content: '\e903';
}
.icon-bell:before {
  content: '\e904';
}
.icon-bookmark:before {
  content: '\e905';
}
.icon-calendar:before {
  content: '\e906';
}
.icon-clock:before {
  content: '\e907';
}
.icon-close:before {
  content: '\e908';
}
.icon-delete:before {
  content: '\e909';
}
.icon-Document-Outline:before {
  content: '\e90a';
}
.icon-dots-horizontal:before {
  content: '\e90b';
}
.icon-dots-vertical:before {
  content: '\e90c';
}
.icon-download:before {
  content: '\e90d';
}
.icon-file:before {
  content: '\e90e';
}
.icon-folder:before {
  content: '\e90f';
}
.icon-help-circle:before {
  content: '\e910';
}
.icon-history1:before {
  content: '\e911';
}
.icon-home:before {
  content: '\e912';
}
.icon-image:before {
  content: '\e913';
}
.icon-inbox:before {
  content: '\e914';
}
.icon-lock-open:before {
  content: '\e915';
}
.icon-lock:before {
  content: '\e916';
}
.icon-magnify:before {
  content: '\e917';
}
.icon-map-marker:before {
  content: '\e918';
}
.icon-menu-hamburger:before {
  content: '\e919';
}
.icon-pencil:before {
  content: '\e91a';
}
.icon-printer:before {
  content: '\e91b';
}
.icon-search:before {
  content: '\e91c';
}
.icon-send:before {
  content: '\e91d';
}
.icon-settings:before {
  content: '\e91e';
}
.icon-tag:before {
  content: '\e91f';
}
.icon-upload:before {
  content: '\e920';
}
.icon-arrow-all:before {
  content: '\e921';
}
.icon-arrow-collapse:before {
  content: '\e922';
}
.icon-arrow-down-bold:before {
  content: '\e923';
}
.icon-arrow-expand-all:before {
  content: '\e924';
}
.icon-arrow-expand:before {
  content: '\e925';
}
.icon-arrow-left-bold:before {
  content: '\e926';
}
.icon-arrow-right-bold:before {
  content: '\e927';
}
.icon-arrow-up-bold:before {
  content: '\e928';
}
.icon-autorenew:before {
  content: '\e929';
}
.icon-back:before {
  content: '\e92a';
}
.icon-cached:before {
  content: '\e92b';
}
.icon-chevron-left:before {
  content: '\e92c';
}
.icon-chevron-right:before {
  content: '\e92d';
}
.icon-compare_arrows:before {
  content: '\e92e';
}
.icon-exit:before {
  content: '\e92f';
}
.icon-next:before {
  content: '\e930';
}
.icon-replay:before {
  content: '\e931';
}
.icon-swap_horiz:before {
  content: '\e932';
}
.icon-swap_vert:before {
  content: '\e933';
}
.icon-trending_flat:before {
  content: '\e934';
}
.icon-zoom_out_map:before {
  content: '\e935';
}
.icon-alarm-light:before {
  content: '\e936';
}
.icon-alert-bell-circle-bg:before {
  content: '\e937';
}
.icon-alert-box:before {
  content: '\e938';
}
.icon-alert-circle-outline-:before {
  content: '\e939';
}
.icon-alert-circle:before {
  content: '\e93a';
}
.icon-alert-decagram:before {
  content: '\e93b';
}
.icon-alert-octagon:before {
  content: '\e93c';
}
.icon-alert-outline:before {
  content: '\e93d';
}
.icon-bell-off:before {
  content: '\e93e';
}
.icon-bell-outline:before {
  content: '\e93f';
}
.icon-bell-ring-outline:before {
  content: '\e940';
}
.icon-bell-ring:before {
  content: '\e941';
}
.icon-bell1:before {
  content: '\e942';
}
.icon-CheckCheck-CircleIcon:before {
  content: '\e943';
}
.icon-help-box:before {
  content: '\e944';
}
.icon-help-circle-outline:before {
  content: '\e945';
}
.icon-help:before {
  content: '\e946';
}
.icon-inform:before {
  content: '\e947';
}
.icon-information-variant:before {
  content: '\e948';
}
.icon-MilestoneFlagIcon:before {
  content: '\e949';
}
.icon-pulse:before {
  content: '\e94a';
}
.icon-warning:before {
  content: '\e94b';
}
.icon-add-plus-Large:before {
  content: '\e94c';
}
.icon-add-plus:before {
  content: '\e94d';
}
.icon-calendar-plus:before {
  content: '\e94e';
}
.icon-file-plus:before {
  content: '\e94f';
}
.icon-folder-plus:before {
  content: '\e950';
}
.icon-library-plus:before {
  content: '\e951';
}
.icon-map-marker-plus:before {
  content: '\e952';
}
.icon-playlist-plus:before {
  content: '\e953';
}
.icon-plus-box-outline:before {
  content: '\e954';
}
.icon-plus-box:before {
  content: '\e955';
}
.icon-plus-circle-outline:before {
  content: '\e956';
}
.icon-plus-circle:before {
  content: '\e957';
}
.icon-account-box:before {
  content: '\e958';
}
.icon-account-card-details:before {
  content: '\e959';
}
.icon-account-circle:before {
  content: '\e95a';
}
.icon-account-box-outline:before {
  content: '\e95b';
}
.icon-account-edit:before {
  content: '\e95c';
}
.icon-account-group:before {
  content: '\e95d';
}
.icon-account-location-1:before {
  content: '\e95e';
}
.icon-account-location:before {
  content: '\e95f';
}
.icon-account-plus1:before {
  content: '\e960';
}
.icon-account-remove:before {
  content: '\e961';
}
.icon-account-settings-variant:before {
  content: '\e962';
}
.icon-account1:before {
  content: '\e963';
}
.icon-clipboard-account:before {
  content: '\e964';
}
.icon-perm_identity:before {
  content: '\e965';
}
.icon-building-1:before {
  content: '\e966';
  color: #5e6871;
}
.icon-gender-transgender:before {
  content: '\e967';
  color: #5e6871;
}
.icon-history:before {
  content: '\e968';
  color: #686b6f;
}
.icon-account-plus:before {
  content: '\e969';
  color: #686b6f;
}
.icon-at:before {
  content: '\e970';
  color: #686b6f;
}
.icon-phone:before {
  content: '\e971';
  color: #686b6f;
}
.icon-calendar-today:before {
  content: '\e972';
  color: #686b6f;
}
.icon-check-simple:before {
  content: '\e973';
  color: #686b6f;
}
