@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.booking {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-bottom: 200px;
  min-height: calc(100vh);

  .calendar-container {
    position: relative;
  }

  .footer {
    position: absolute;
    width: 100%;
    bottom: -1rem;
    left: 0;
    padding: 0 px($app-horizontal-safe-zone / 2);
    transform: translateY(100%);
  }

  .period-selector {
    display: grid;
    grid-template-columns: 60% 1fr 1fr;

    .label {
      margin-top: 0.2rem;
    }

    .checkbox {
      position: relative;
      text-align: center;

      .header {
        position: absolute;
        left: 50%;
        bottom: 90%;
        transform: translateX(-50%);
        font-size: 0.7rem;
      }

      input {
        margin-top: px(5);
      }
    }
  }

  .label {
    color: $gray-color;
    font-size: 0.9rem;
    margin-top: 0.75rem;
    display: block;
  }

  .textarea {
    display: block;
    width: 100%;
    padding: 0.5rem;

    appearance: none;
    border: 1px solid $gray-color;
    border-radius: px(3);
  }

  .actions {
    margin-top: 1rem;

    .button {
      width: 100%;
    }
  }
}
