.router-outlet {
  height: 100%;
  position: relative;
  .cross-fade {
    &-enter {
      opacity: 0;
    }
    &-exit {
      opacity: 1;
    }
    &-enter-active {
      opacity: 1;
    }
    &-exit-active {
      opacity: 0;
    }
    &-enter-active,
    &-exit-active {
      transition: opacity 300ms;
    }
  }

  .slideUp {
    &-enter {
      transform: translateY(100%);
    }
    &-exit {
      opacity: 1;
      z-index: 0;
    }
    &-enter-active {
      z-index: 1;
      transform: translateY(0%);
      transition: transform 300ms;
    }
    &-exit-active {
      z-index: 0;
      opacity: 0;
      transition: opacity 200ms;
    }
  }

  .slideCalendarDown {
    &-enter {
      transform: translateY(-105px);
    }
    &-exit {
      opacity: 1;
      z-index: 0;
    }
    &-enter-active {
      z-index: 1;
      transform: translateY(0%);
      transition: transform 300ms;
    }
    &-exit-active {
      z-index: 0;
      opacity: 0;
      transition: opacity 200ms;
    }
  }
}
