@import '../../scss/mixins.scss';
@import '../../scss/variables.scss';

.list-title {
  font-size: px(24);
  margin: 0.5em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .icon {
    transform: rotate(-90deg);
    transition: transform 0.3s ease-in-out;
  }

  &.collapsed {
    .icon {
      transform: rotate(-90deg) scaleX(-1);
    }
  }
}

.visitor-list {
  list-style: none;
  margin-block: 0 0;
  padding-inline: 0 0;
  overflow: hidden;
  transition: max-height 0.7s ease-in-out;

  .item,
  .log-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5em;
    font-size: px(18);
  }

  .name,
  .log-name {
    margin: 0;
  }

  .log-item,
  .log-header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 'name name name am pm';
    grid-gap: px(10);
    grid-auto-flow: row;
  }

  .log-name,
  .header-log-title {
    grid-area: name;
  }

  .log-am,
  .header-pm {
    grid-area: am;
    text-align: center;
    display: block;

    .icon::before {
      color: $primary-color;
    }
  }

  .log-pm,
  .header-pm {
    grid-area: pm;
    text-align: center;
    display: block;

    .icon::before {
      color: $primary-color;
    }
  }
}

.log-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5em;
  font-size: px(18);

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: 'name name name am pm';
  grid-gap: px(10);
  grid-auto-flow: row;
}

.header-log-title {
  grid-area: name;
}

.header-am {
  grid-area: am;
  font-size: px(10);
  color: gray;
  text-align: center;
  display: block;
  font-size: px(12);
}

.header-pm {
  grid-area: pm;
  font-size: px(10);
  color: gray;
  text-align: center;
  display: block;
  font-size: px(12);
}
