@import '../../scss/mixins.scss';
@import '../../scss/variables.scss';

.bookings-list {
  border: 1px solid white;
  border-radius: 0.2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-template-areas: 'title title title header1 header2';
  grid-gap: px(10);
  grid-auto-flow: row;
  padding: 0 1em 1em;

  > * {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .title,
  .date {
    justify-content: flex-start;
  }

  .title {
    grid-area: title;
    margin: 0.5em 0 0;
    justify-content: flex-start;
  }

  .header-am,
  .header-pm {
    font-size: px(10);
    color: gray;
    align-items: flex-end;
  }

  .header-am {
    grid-area: header1;
  }

  .header-pm {
    grid-area: header2;
  }

  .date {
    grid-column: 1 / span 3;
  }

  .checkbox-am {
    grid-column: 4 / span 1;

    .icon::before {
      color: $primary-color;
    }
  }

  .checkbox-pm {
    grid-column: 5 / span 1;

    .icon::before {
      color: $primary-color;
    }
  }
}
