@import '../../scss/mixins.scss';

.list-title {
  font-size: px(24);
  margin: 0.5em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .icon {
    transform: rotate(-90deg);
    transition: transform 0.3s ease-in-out;
  }

  &.collapsed {
    .icon {
      transform: rotate(-90deg) scaleX(-1);
    }
  }
}

.floor-list {
  hr {
    margin: -0.7em 0 1em;
  }
}

.date-request-list {
  overflow: hidden;
  transition: max-height 0.7s ease-in-out;
}

.request-list {
  list-style: none;
  margin-block: 0 0;
  padding-inline: 0 0;
  //padding: 0 px(20);

  .item {
    padding: 0 0 1em;
  }

  .slide-out-right {
    &-enter {
      opacity: 0;
    }
    &-exit {
      transform: translateX(0%);
    }
    &-enter-active {
      opacity: 1;
    }
    &-exit-active {
      transform: translateX(100%);
    }
    &-enter-active {
      transition: opacity 300ms;
    }
    &-exit-active {
      transition: transform 300ms;
    }
  }
}

.item,
.floor-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5em;
  font-size: px(18);

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: 'name name name am pm done comment';
  grid-gap: px(10);
  grid-auto-flow: row;

  > * {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .item {
    grid-template-rows: repeat(2, 1fr);
  }

  .floor-item {
    grid-template-rows: 1fr;
  }

  .name,
  .floor {
    grid-area: name;
    grid-column: 1 / span 3;
    margin: 0;
    justify-content: flex-start;
  }

  .floor {
    color: #444;
  }

  .name {
    color: #444;
  }

  .header-am,
  .header-pm {
    font-size: px(10);
    color: gray;
    text-align: center;
    display: block;
    font-size: px(12);

    .overCapacity {
      color: darkred;
    }
  }

  .checkbox-am,
  .header-am {
    grid-area: am;
    grid-column: 4 / span 1;
  }

  .checkbox-pm,
  .header-pm {
    grid-area: pm;
    grid-column: 5 / span 1;
  }

  .confirm {
    grid-area: done;
    grid-column: 6 / span 1;
  }

  button {
    font-size: px(10);
    background-color: rgb(0, 102, 255);
    color: white;
    border: 0;
    border-radius: 2px;
    padding: 0.5em;
    box-shadow: 1px 1px gray;
    transition-duration: 0.4s;
  }

  .button:hover {
    font-size: px(16);
  }

  .comment {
    grid-area: comment;
    grid-column: 1 / span 6;
    grid-row-start: 2;
    color: gray;
    font-size: px(10);
    margin: -1em 0 0;
    justify-content: flex-start;
  }

  hr {
    margin: -1em 0 0;
  }
}
