@import '../../scss/mixins.scss';
@import '../../scss/variables.scss';

.access-control {
  display: flex;
  flex-flow: column nowrap;
  height: calc(
    100vh - #{px($navigation-height-px + $app-vertical-safe-zone * 2)}
  );
  overflow: hidden;

  .page-content {
    flex: 1;
    overflow: auto;
  }

  button {
    border: none;
    border-radius: px(6);
    width: 100%;
    font-size: px(16);
    font-weight: bold;
    padding: px(6);
    color: #fff;
    background-color: #777;
  }
}
