@import '../../scss/mixins.scss';
@import '../../scss/variables.scss';

.my-bookings {
  .header {
    position: relative;
    // top: 0;
    // left: 0;
    // width: 100%;
    z-index: 100;
    background-color: white;
    margin-bottom: 1rem;
  }

  h1 {
    display: flex;
    align-items: center;
  }

  .bookings-list {
    margin-bottom: 1.5rem;
  }

  .main {
    padding-bottom: px($navigation-height-px - 50);
  }
}
