@import '../../scss/mixins.scss';
@import '../../scss/variables.scss';

.page-topnav {
  padding-bottom: 1em;
}

.visitor-log {
  padding-bottom: px($navigation-height-px);
}

.react-autosuggest {
  &__container {
    position: relative;

    &::before {
      font-family: 'icomoon' !important;
      speak: never;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      pointer-events: none;

      content: '\e917';
      display: block;
      position: absolute;
      top: px(3);
      left: px(5);
      height: 100%;
      width: 100%;
      font-size: 1.9em;
      z-index: 1;

      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }

  &__input {
    border-radius: 0.375rem;
    width: 100%;
    padding-left: px(36);
    font-size: 0.875rem;
    border: 1px solid #d4d4d4;
    height: px(36);
    position: relative;

    &::placeholder {
      text-align: left;
    }
  }

  &__suggestions-container {
    position: absolute;
    z-index: 1;
    background: white;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: px(5);
  }

  &__suggestions-list {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

.autocomplete-suggestion {
  padding: 0.6em 2em;
  border-top: 1px solid #d4d4d4;
}
