.settings {
  h1 {
    display: flex;
    align-items: center;
  }

  .settings-group {
    padding-bottom: 2rem;

    a,
    a:visited {
      text-decoration: none;
      color: black;
    }

    p {
      .setting-description {
        font-size: px(30);
      }

      .setting-value {
        color: gray;
        float: right;
      }
    }

    hr {
      border: 1px solid black;
      opacity: 0.25;
    }
  }
}
