@import '../../scss/mixins.scss';

$calendar-day-size-px: 40;
$calendar-grid-gap-px: 5;

$clickable-bg: whitesmoke;
$clickable-color: black;
$available-bg: green;
$available-color: white;
$selected-bg: black;
$selected-color: white;
$full-bg: red;
$full-color: white;
$closed-bg: none;
$closed-color: inherit;
$booked-bg: rgb(0, 102, 255);
$booked-color: white;

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-areas: 'month month month month controls controls controls';
  grid-gap: px($calendar-grid-gap-px);
  align-items: center;

  &-container {
    height: 8 * (px($calendar-day-size-px) + px($calendar-grid-gap-px));
  }

  .month {
    margin: 0;
    grid-area: month;
    font-size: px(22);
    font-weight: bold;
  }

  .controls {
    grid-area: controls;
    text-align: right;

    button {
      appearance: none;
      height: px($calendar-day-size-px);
      width: px($calendar-day-size-px);
      border-radius: 50%;
      margin-left: px($calendar-grid-gap-px);
      padding: 0;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 3rem;
      background: white;
      border: 1px solid gray;
      position: relative;

      .icon {
        font-size: 4rem;
        position: absolute;
      }
    }
  }

  .day,
  .weekday {
    height: px($calendar-day-size-px);
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .day {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      display: block;
      height: px($calendar-day-size-px);
      width: px($calendar-day-size-px);
      border-radius: 50%;
    }

    &.available {
      color: $available-color;
      &::after {
        background: $available-bg;
      }
    }

    &.closed {
      color: $closed-color;
      &::after {
        background: $closed-bg;
      }
    }

    &.clickable {
      color: $clickable-color;
      &::after {
        background: $clickable-bg;
      }
    }

    &.booked {
      color: $booked-color;
      &::after {
        background: $booked-bg;
      }
    }

    &.full {
      color: $full-color;
      &::after {
        background: $full-bg;
      }
    }

    &.selected {
      color: $selected-color;
      &::after {
        background: $selected-bg;
      }
    }
    &.today {
      font-weight: bolder;
      height: px($calendar-day-size-px);
      width: px($calendar-day-size-px);
      border: 2px solid black;
      border-radius: 50%;
    }
    &.prev-month,
    &.next-month {
      opacity: 0.5;
      color: gray;
      &::after {
        background: none;
      }
    }
  }

  .weekday {
    color: gray;
    font-weight: bolder;
  }
}
