@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 200;
  width: 100%;
  background-color: white;
  border-radius: px(10) px(10) 0 0;
  box-shadow: 0px 0px 8px 6px #00000030;

  &.has-pullup::before {
    content: '';
    display: block;
    position: absolute;
    top: px(10);
    left: 50%;
    height: px(5);
    width: px(50);
    border-radius: px(5);
    background: black;
    transform: translateX(-50%);
    animation: pull-me-up 5s ease infinite;
  }

  .primary {
    display: flex;
    height: px($navigation-height-px);
    justify-content: space-around;
    align-items: center;
  }

  .secondary {
    position: absolute;
    z-index: 10;
    top: px($navigation-height-px - 1);
    width: 100%;
    min-height: px(100);
    background: white;
    padding: 0 px($app-horizontal-safe-zone) 3rem;

    .list-link {
      display: flex;
      align-items: center;
      font-size: px(18);
      height: px(56);
      border-bottom: 1px solid gray;
      &:last-child {
        border-bottom: 0;
      }
    }
  }

  .link,
  .list-link {
    text-decoration: none;
    color: gray;

    &.active {
      color: black;

      .icon::before {
        color: black;
      }
    }
  }
}

.nav-icon {
  position: relative;
  margin-top: -1em;

  .icon {
    font-size: 3em;
    text-decoration: none;
  }

  .label {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 7em;
    text-align: center;
    transform: translate(-50%, 0.9em);
  }
}

@keyframes pull-me-up {
  0% {
    transform: translateX(-50%) translateY(0);
  }

  25% {
    transform: translateX(-50%) translateY(-100%);
  }

  60% {
    transform: translateX(-50%) translateY(0);
  }

  100% {
    transform: translateX(-50%) translateY(0);
  }
}
