.account-info {
  a {
    text-decoration: none;
    font-size: 2em;
  }

  .account-header {
    .account-image {
      font-size: 3rem;
      text-align: center;
    }

    .name {
      font-size: 1.25rem;
      text-align: center;
      margin-top: -5px;
    }
  }

  .account-body {
    p {
      font-size: 1rem;
    }

    hr {
      border: 1px solid black;
      opacity: 0.25;
    }
  }
}
