@import '../../scss/mixins.scss';

.search-bar {
  position: relative;
  input {
    border-radius: px(6);
    width: 100%;
    font-size: px(14);
    padding-left: px(36);
    height: px(36);
    border: 1px solid #d4d4d4;
  }

  .icon {
    position: absolute;
    top: px(2);
    left: px(4);
  }
}
