button {
  appearance: none;
}

.button {
  border: none;
  color: white;
  font-weight: bold;
  background-color: $gray-color;
  padding: 0.5em 1em;
  border-radius: px(3);

  &.booked {
    background-color: $primary-color;
  }
  &.disabled {
    cursor: not-allowed;
    background-color: $gray-color;
    opacity: 0.75;
  }
  &-border {
    background-color: transparent;
    border: 1px solid $gray-color;
    color: $gray-color;
  }
}
