@import './variables.scss';
@import './mixins.scss';

@import '../fonts/icons/index.scss';

@import './typography.scss';
@import './buttons.scss';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content {
  padding: px($app-vertical-safe-zone) 0;
  height: calc(100vh - #{px($navigation-height-px)});
  overflow: auto;
}

.page {
  padding: 0 px($app-horizontal-safe-zone);

  &-actions {
    padding-top: 20px;
  }

  &-route {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}
