@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,700;0,900;1,100;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,400;0,700;0,900;1,100;1,400;1,700;1,900&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

a {
  appearance: none;
  text-decoration: none;
  cursor: inherit;
  color: inherit;
}
